<h1>제목 -- {{board.title}}</h1>
글번호 -- {{board.id}}</br>
글번호 -- {{board.pk}}</br>
작성자 -- {{board.author}}</br>
내용 -- {{board.content}}</br>
{% if board.image %} 이미지 -- <img src ="{{ board.image.url }}" alt = "{{board.image}}">  {{board.image}}</br> {% endif %}
조회수 -- {{board.hits}}</br>
등록일 -- {{board.create_at}}</br>



<td><form name=searchf method='post' action="{% url 'qna:delete' board.id %}">
    {% csrf_token %}
<input type='password' placeholder = '글 작성시 비밀번호' name='password' size=13 maxlength=20>
<input type=submit value="삭제"></td>
</form>
<td><input type=button value="글목록" OnClick="window.location='/qna'"> </td>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}